.playground {
    display: flex;
    padding-left: 10px;
}
.file-pane,
.code-editor,
.code-output {
    line-height: 2rem;
    height: 100vh;
    min-width: 200px;
    overflow: auto;
    font-family: 'Fira Code';
    position: relative;
}
.file-pane {
    position: fixed;
    left: -190px;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 1000;
    transition: 0.1s left ease;
    background-color: #3a2f4e;
}
.file-pane .new,
.file-pane li {
    padding: .25rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.file-pane .new {
    background: rgba(0,0,0, 0.1);
    border-radius: 2rem;
    margin: 0.5rem 1rem;
}
.file-pane li {
    border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.file-pane .new:hover {
    background: rgba(255,255,255, 0.1);
}
.file-pane li:hover {
    background: rgba(255,255,255, 0.08);
}
.file-pane:hover {
    left: 0;
}f
.code-output * {
    font-family: inherit;
}
.code-editor {
    flex: 1;
}
.code-output {
    width: 35%;
}
.code-editor::-webkit-scrollbar,
.code-output::-webkit-scrollbar {
    width: 2px;
}
.file-pane::-webkit-scrollbar {
    width: 5px;
}
.file-pane .delete {
    margin-left: auto;
    height: 1rem;
    width: 1rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: right;
    padding: 0.25rem;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(179, 17, 17, 0.822);
}
.file-pane .current {
    background: var(--main-bg-color);
}
.file-pane .modified::before {
    display: flex;
    content: '*';
    margin-right: 4px;
    color: rgb(238, 83, 83);
}
.seperator {
    background: #fff;
    content: "";
    width: 1px;
    cursor: col-resize;
    background: rgba(255,255,255, 0.1);
    height: 100vh;
    border-left: 0.125rem solid var(--main-bg-color);
    border-right: 0.125rem solid var(--main-bg-color);
}

@media only screen and (max-width: 620px) {
    .playground {
        display: block;
    }
    .code-editor,
    .code-output {
        line-height: 2rem;
        height: 50vh;
        min-width: 100%;
        max-width: 100%;
        width: auto;
        overflow: auto;
        font-family: 'Fira Code';
    }
    .seperator {
        display: none;
    }
}